* {
  margin: 0;
  padding: 0;
}

html {
  font-family: "Montserrat", sans-serif;
  background-color: rgb(223, 211, 195);
}

header nav div {
  justify-content: right;
  padding: 0% 20% 0% 10%;
}
header nav div a {
  justify-content: right;
  padding: 0% 20% 0% 10%;
}
header nav div a img {
  width: 140px;
  height: 90px;
}
header nav div ul li {
  display: inline;
}
header nav div ul li a {
  text-decoration: none;
}

.newsletter {
  background-color: #FFA07A;
  padding: 25px;
}

.nl-btn {
  font-family: Roboto, sans-serif;
  font-weight: 0;
  font-size: 14px;
  color: #fff;
  background-color: #CD5C5C;
  padding: 10px 30px;
  border: solid #CD5C5C 2px;
  box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
  border-radius: 25px;
  transition: 1000ms;
  transform: translateY(0);
  cursor: pointer;
}

.nl-btn:hover {
  padding: 10px 50px;
  background-color: #fff;
  color: #cd5c5c;
  border: solid 2px #cd5c5c;
}

footer {
  text-align: center;
  padding: 20px;
  line-height: 20px;
  font-family: "Montserrat", sans-serif;
}
footer .cr {
  font-size: small;
  padding-top: 2rem;
}
footer img {
  width: 40px;
  height: 40px;
}

.grid2 {
  display: grid;
  grid-template-rows: repeat(4, 1f);
  grid-template-columns: repeat(1, 1fr);
  grid-template-areas: "z z" "x x" "c c" "v v";
}
.grid2 .n1 {
  grid-area: z;
  display: flex;
  align-items: center;
}
.grid2 .n2 {
  grid-area: x;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}
.grid2 .n3 {
  grid-area: c;
  display: flex;
  align-items: center;
}
.grid2 .n4 {
  grid-area: v;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.grid3 {
  display: grid;
  grid-template-rows: 1fr 14rem 1fr;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: "n m" "j k" "o o";
}
.grid3 .l1 {
  grid-area: n;
}
.grid3 .l2 {
  grid-area: j;
}
.grid3 .l3 {
  grid-area: m;
}
.grid3 .l4 {
  grid-area: k;
}
.grid3 .l5 {
  grid-area: o;
}

.grid4 {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
}
.grid4 input, .grid4 textarea {
  width: 100%;
}
.grid4 img {
  width: 40px;
  height: 40px;
}

.form-body {
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  min-height: 500px;
  align-items: center;
  justify-content: center;
  padding: 50px 50px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  text-align: center;
  width: 340px;
}
.form-body .form-contact label {
  color: #362828;
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 15px;
}
.form-body .form-contact input, .form-body .form-contact textarea {
  padding: 17px 25px;
  border-radius: 25px;
  margin-bottom: 20px;
  background-color: #ffeded;
  border: 2px solid #faf0f0;
  color: #362828;
  outline: none;
}
.form-body .form-contact input::placeholder, .form-body .form-contact textarea::placeholder {
  color: #cab5b5;
}
.form-body .form-contact .form-text a {
  color: #b27676;
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
}
.form-body .form-contact .bnt {
  font-size: 16px;
  color: #ffffff;
  border: 0;
  border-radius: 25px;
  background-color: #d94c4c;
  box-shadow: 0 0 20px rgba(254, 0, 0, 0.4);
  cursor: pointer;
}
.form-body .form-contact .btn:hover {
  background-color: #e04040;
}
@media (max-width: 991px) {
  .form-body form {
    padding: 50px 30px;
    width: 100%;
  }
  .form-body input {
    padding: 15px;
  }
}

.grid-container-1 {
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: repeat(3, 30%);
}
.grid-container-1 p {
  margin-inline: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
}
.grid-container-1 p img {
  margin: 10px;
}

h1 {
  display: flex;
  justify-content: center;
}

.grid-container-2 {
  display: grid;
  align-items: center;
  grid-template-columns: 50% 50%;
  padding: 5% 0% 5% 0%;
}
.grid-container-2 div img {
  width: 100%;
  height: 100%;
}
.grid-container-2 div a {
  text-decoration: none;
  color: white;
}

.content-area .sidebar {
  color: rgb(53, 53, 53);
  font-family: "Montserrat", sans-serif;
}
.content-area .area {
  display: flex;
  justify-content: center;
  margin: 10px;
  flex-wrap: wrap;
}
.content-area .area a {
  max-width: 400px;
  text-align: center;
  padding-top: 2rem;
  text-decoration: none;
  color: black;
  font-family: "Montserrat", sans-serif;
  font-style: italic;
}

.btext {
  display: flex;
  align-items: center;
  flex-direction: column;
  align-self: center;
}

.maps {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.maps iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

/*# sourceMappingURL=style.css.map */
