* {
  margin: 0;
  padding: 0;
}

html {
  font-family: "Montserrat", sans-serif;
  background-color: rgb(223, 211, 195);
}

header nav div {
  justify-content: right;
  padding: 0% 20% 0% 10%;
}
header nav div a {
  justify-content: right;
  padding: 0% 20% 0% 10%;
}
header nav div a img {
  width: 140px;
  height: 90px;
}
header nav div ul li {
  display: inline;
}
header nav div ul li a {
  text-decoration: none;
}

.newsletter {
  background-color: #a3a3a3;
  padding: 25px;
}

.nl-btn {
  font-family: Roboto, sans-serif;
  font-weight: 0;
  font-size: 14px;
  color: #fff;
  background-color: #212121;
  padding: 10px 30px;
  border: solid #313131 2px;
  box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
  border-radius: 25px;
  transition: 1000ms;
  transform: translateY(0);
  cursor: pointer;
}

.nl-btn:hover {
  padding: 10px 50px;
  background-color: #a7a7a7;
  color: #212121;
  border: solid 2px #313131;
}

.site-footer {
  background-color: #26272b;
  padding: 45px 0 20px;
  font-size: 15px;
  line-height: 24px;
  color: #737373;
}

.site-footer hr {
  border-top-color: #bbb;
  opacity: 0.5;
}

.site-footer hr.small {
  margin: 20px 0;
}

.site-footer h6 {
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 5px;
  letter-spacing: 2px;
}

.site-footer a {
  color: #737373;
}

.site-footer a:hover {
  color: #3366cc;
  text-decoration: none;
}

.footer-links {
  padding-left: 0;
  list-style: none;
}

.footer-links li {
  display: block;
}

.footer-links a {
  color: #737373;
  text-decoration: none;
}

.footer-links a:active, .footer-links a:focus, .footer-links a:hover {
  color: #3366cc;
  text-decoration: none;
}

.footer-links.inline li {
  display: inline-block;
}

.site-footer .social-icons {
  text-align: right;
}

.site-footer .social-icons a {
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin-left: 6px;
  margin-right: 0;
  border-radius: 100%;
  background-color: #33353d;
}

.copyright-text {
  margin: 0;
}

@media (max-width: 991px) {
  .site-footer [class^=col-] {
    margin-bottom: 30px;
  }
}
@media (max-width: 767px) {
  .site-footer {
    padding-bottom: 0;
  }
  .site-footer .copyright-text, .site-footer .social-icons {
    text-align: center;
  }
}
.social-icons {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.social-icons li {
  display: inline-block;
  margin-bottom: 4px;
}

.social-icons li.title {
  margin-right: 15px;
  text-transform: uppercase;
  color: #96a2b2;
  font-weight: 700;
  font-size: 13px;
}

.social-icons a {
  background-color: #eceeef;
  color: #818a91;
  font-size: 16px;
  display: inline-block;
  line-height: 44px;
  width: 44px;
  height: 44px;
  text-align: center;
  margin-right: 8px;
  border-radius: 100%;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.social-icons a:active, .social-icons a:focus, .social-icons a:hover {
  color: #fff;
  background-color: #29aafe;
}

.social-icons.size-sm a {
  line-height: 34px;
  height: 34px;
  width: 34px;
  font-size: 14px;
}

.social-icons a.facebook:hover {
  background-color: #3b5998;
}

.social-icons a.twitter:hover {
  background-color: #00aced;
}

.social-icons a.youtube:hover {
  background-color: #b60000;
}

.social-icons a.instagram:hover {
  background-color: #ea4c89;
}

@media (max-width: 767px) {
  .social-icons li.title {
    display: block;
    margin-right: 0;
    font-weight: 600;
  }
}
.grid2 {
  display: grid;
  grid-template-rows: repeat(4, 1f);
  grid-template-columns: repeat(1, 1fr);
  grid-template-areas: "z z" "x x" "c c" "v v";
}
.grid2 .n1 {
  grid-area: z;
  display: flex;
  align-items: center;
}
.grid2 .n2 {
  grid-area: x;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}
.grid2 .n3 {
  grid-area: c;
  display: flex;
  align-items: center;
}
.grid2 .n4 {
  grid-area: v;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.grid3 {
  display: grid;
  grid-template-rows: 1fr 14rem 1fr;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: "n m" "j k" "o o";
}
.grid3 .l1 {
  grid-area: n;
}
.grid3 .l2 {
  grid-area: j;
}
.grid3 .l3 {
  grid-area: m;
}
.grid3 .l4 {
  grid-area: k;
}
.grid3 .l5 {
  grid-area: o;
}

.grid4 {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
}
.grid4 input, .grid4 textarea {
  width: 100%;
}
.grid4 img {
  width: 40px;
  height: 40px;
}

.form-body {
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  min-height: 500px;
  align-items: center;
  justify-content: center;
  padding: 50px 50px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  text-align: center;
  width: 340px;
}
.form-body .form-contact label {
  color: #362828;
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 15px;
}
.form-body .form-contact input, .form-body .form-contact textarea {
  padding: 17px 25px;
  border-radius: 25px;
  margin-bottom: 20px;
  background-color: #ffeded;
  border: 2px solid #faf0f0;
  color: #362828;
  outline: none;
}
.form-body .form-contact input::placeholder, .form-body .form-contact textarea::placeholder {
  color: #cab5b5;
}
.form-body .form-contact .form-text a {
  color: #b27676;
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
}
.form-body .form-contact .bnt {
  font-size: 16px;
  color: #ffffff;
  border: 0;
  border-radius: 25px;
  background-color: #d94c4c;
  box-shadow: 0 0 20px rgba(254, 0, 0, 0.4);
  cursor: pointer;
}
.form-body .form-contact .btn:hover {
  background-color: #e04040;
}
@media (max-width: 991px) {
  .form-body form {
    padding: 50px 30px;
    width: 100%;
  }
  .form-body input {
    padding: 15px;
  }
}

.btn1 {
  color: black;
  text-decoration: none;
  cursor: pointer;
  outline: none;
  border: none;
  background: transparent;
}

.box {
  width: 140px;
  height: auto;
  float: left;
  transition: 0.5s linear;
  position: relative;
  display: block;
  overflow: hidden;
  padding: 15px;
  text-align: center;
  margin: 0 5px;
  background: transparent;
  text-transform: uppercase;
  font-weight: 900;
  background-color: #eeeeee;
  color: #212121;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.box:before {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  height: 4px;
  width: 100%;
  border-bottom: 4px solid transparent;
  border-left: 4px solid transparent;
  box-sizing: border-box;
  transform: translateX(100%);
}

.box:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 4px;
  border-top: 4px solid transparent;
  border-right: 4px solid transparent;
  box-sizing: border-box;
  transform: translateX(-100%);
}

.box:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

.box:hover:before {
  border-color: #262626;
  height: 100%;
  transform: translateX(0);
  transition: 0.3s transform linear, 0.3s height linear 0.3s;
}

.box:hover:after {
  border-color: #262626;
  height: 100%;
  transform: translateX(0);
  transition: 0.3s transform linear, 0.3s height linear 0.5s;
}

.grid-container-1 {
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: repeat(3, 30%);
}
.grid-container-1 p {
  margin-inline: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
}
.grid-container-1 p img {
  margin: 10px;
  width: 50px;
  height: 50px;
}

h1 {
  display: flex;
  justify-content: center;
}

.grid-container-2 {
  display: grid;
  align-items: center;
  grid-template-columns: 50% 50%;
  padding: 5% 0% 5% 0%;
}
.grid-container-2 div img {
  width: 100%;
  height: 100%;
}
.grid-container-2 div a {
  text-decoration: none;
  color: white;
}

.content-area .sidebar {
  color: rgb(53, 53, 53);
  font-family: "Montserrat", sans-serif;
}
.content-area .area {
  display: flex;
  justify-content: center;
  margin: 10px;
  flex-wrap: wrap;
}
.content-area .area a {
  max-width: 400px;
  text-align: center;
  padding-top: 2rem;
  text-decoration: none;
  color: black;
  font-family: "Montserrat", sans-serif;
  font-style: italic;
}

.btext {
  display: flex;
  align-items: center;
  flex-direction: column;
  align-self: center;
}

.maps {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.maps iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

.helptext div div p {
  font-size: 14px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #333333;
  font-style: italic;
}

/*# sourceMappingURL=style.css.map */
