* {
    margin: 0;
    padding: 0;
}

html{
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(223, 211, 195);
}

@import "component/header";
@import "component/newsletter";
@import "component/footer";
@import "component/grid";
@import "component/form";
@import "base/mixins";
@import "component/button";


 .grid-container-1 {
    display: grid; 
    grid-template-rows: 100%;
    grid-template-columns: repeat(3, 30%);
    p { 
        margin-inline: 70px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        text-align: center;
        img {
            margin: 10px;
            width: 50px;
            height: 50px;
        }
    }
}

h1 {
    display: flex;
    justify-content: center;
}

.grid-container-2 {
    display: grid; 
    align-items: center;
    grid-template-columns: 50% 50%;
    padding: 5% 0% 5% 0%;
    div {
        img {
            width: 100%;
            height: 100%;
        }
        a {
            text-decoration: none;
            color: white;
        }
    }
}

.content-area {

    .sidebar {
        color: rgb(53, 53, 53);
        font-family: 'Montserrat', sans-serif;
    }
    .area {
        display: flex;
        justify-content: center;
        margin: 10px;
        flex-wrap: wrap;
        a {
            max-width: 400px;
            text-align: center;
            padding-top: 2rem;
            text-decoration: none;
            color: black;
            font-family: 'Montserrat', sans-serif;
            font-style: italic;
        }
    }
}

.btext {
    display: flex;
    align-items: center;
    flex-direction: column;
    align-self: center;
}

.maps{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}

.maps iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}