footer {
    text-align: center;
    padding: 20px;
    line-height: 20px;
    font-family: 'Montserrat', sans-serif;
    .cr {
        font-size: small;
        padding-top: 2rem;
        }
    img {
        width: 40px;
        height: 40px;
    }
}
