.newsletter {
    background-color: #a3a3a3;
    padding: 25px;
}

.nl-btn{
    font-family: Roboto, sans-serif;
    font-weight: 0;
    font-size: 14px;
    color: #fff;
    background-color: #212121;
    padding: 10px 30px;
    border: solid #313131 2px;
    box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
    border-radius: 25px;
    transition : 1000ms;
    transform: translateY(0);
    cursor: pointer;
}

.nl-btn:hover{
    padding: 10px 50px;
    background-color: #a7a7a7;
    color: #212121;
    border: solid 2px #313131;
}
