.newsletter {
    background-color: #FFA07A;
    padding: 25px;
}

.nl-btn{
    font-family: Roboto, sans-serif;
    font-weight: 0;
    font-size: 14px;
    color: #fff;
    background-color: #CD5C5C;
    padding: 10px 30px;
    border: solid #CD5C5C 2px;
    box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
    border-radius: 25px;
    transition : 1000ms;
    transform: translateY(0);
    cursor: pointer;
}

.nl-btn:hover{
    padding: 10px 50px;
    background-color: #fff;
    color: #cd5c5c;
    border: solid 2px #cd5c5c;
}
